In [3]:
### String é o tipo de dado que representa uma seqüência de caracteres ###
### Usamos "aspas duplas" ou 'aspas simples' ou `crase` ###

empresa = 'Google'
print(empresa)
empresa = "Google"
print(empresa)
### empresa = 'Let's Code' erro por causa das aspas
print(empresa)
empresa = "Let's Code"
print(empresa)

Google
Google
Google
Let's Code

In [4]:
### STRINGS PARTE 2 ###
### frase = "O professor Pietro da Let's Code disse: "Hoje a pizza é por minha conta!"
### Podemos usar um caracter de escape, ou seja, contra-barra ###
frase = "O professor Pietro da Let's Code disse: \"Hoje a pizza é por minha conta!\""
print(frase)

O professor Pietro da Let's Code disse: "Hoje a pizza é por minha conta!"

In [5]:
### SLICE pode ser usado nas STRs também... ###
empresa = 'Google'
print(empresa[0])
print(empresa[:3])

G
Goo

In [6]:
nomes_cidades = "São Paulo, Belo Horizonte, Rio de Janeiro, Brasília"
type(nomes_cidades) ### STR

str

In [7]:
### Método .split retorna a alteração feita na str, espaço é o default de separação ###
nomes_cidades = nomes_cidades.split(', ') ### vírgula espaço separam os elementos ###
print(nomes_cidades)
type(nomes_cidades) ### Retorna como uma LIST ###

['São Paulo', 'Belo Horizonte', 'Rio de Janeiro', 'Brasília']

list

In [8]:
### Método .strip é bom pra separar dados sujos com espaços antes e após os caracteres ###
cabecalho = "            MENU PRINCIPAL         "
print(cabecalho.strip()) ### "MENU PRINCIPAL"

MENU PRINCIPAL

In [9]:
nome_cidade = "rIo DE jaNeirO"

print(nome_cidade.title()) ### Rio De Janeiro
print(nome_cidade.capitalize()) ### Rio de janeiro
print(nome_cidade.lower()) ### rio de janeiro
print(nome_cidade.upper()) ### RIO DE JANEIROmensagem = 'Você viu o que o Pietro disse na sala ontem?'
fui_citado = 'Pietro' in mensagem ### True/False verificando se houve uma menção ao texto em questão... ### 
print(fui_citado)

Rio De Janeiro
Rio de janeiro
rio de janeiro
RIO DE JANEIRO

In [10]:
nome_cidade = input(('Que cidade do Brasil é conhecida como cidade maravilhosa? '))
nome_cidade = nome_cidade.strip()
while nome_cidade.lower() != 'rio de janeiro': ### Vai continuar no loop até acertarem a resposta! ###
    print('Tenta de novo, vai...')
    nome_cidade = input('Que cidade do Brasil é conhecida como cidade maravilhsoa? ')
print('Booa, campeão!')

Que cidade do Brasil é conhecida como cidade maravilhosa? sao paulio
Tenta de novo, vai...
Que cidade do Brasil é conhecida como cidade maravilhsoa? sao Paulo
Tenta de novo, vai...
Que cidade do Brasil é conhecida como cidade maravilhsoa?    rio de janeiro
Tenta de novo, vai...
Que cidade do Brasil é conhecida como cidade maravilhsoa?    Rio de Janeiro
Tenta de novo, vai...
Que cidade do Brasil é conhecida como cidade maravilhsoa? Rio de Janeiro
Booa, campeão!

In [11]:
mensagem = 'Você viu o que o Pietro disse na sala ontem?'
### True/False verificando se houve uma menção ao texto em questão... ### 
fui_citado = 'Pietro' in mensagem 
print(fui_citado)

True

In [12]:
### Operadores aritméticos podem funcionar com STRs também! ###
cumprimento = 'Olá, '
nome = 'Felipe'
print(cumprimento + nome)

Olá, Felipe

In [13]:
print(nome*5)
nome = 'Felipe'
idade = 35 ### Teremos de transformar INT para STR ###
n_filhos = 2 ### Teremos de transformar INT para STR ###
print(nome + str(idade) + str(n_filhos))

FelipeFelipeFelipeFelipeFelipe
Felipe352

In [14]:
print(nome + ' tem ' + str(idade) + ' anos de idade e ' + str(n_filhos) + ' filhos.')
print('{} tem {} anos e {} filhos.'.format(nome, idade, n_filhos))
preco_gasolina = 3.476
print('O preço da gasolina hoje subiu e está em R$ {:.2f}'.format(preco_gasolina)) 
### o índice .2f mostrando uma FLAG e usando 2 casas de FLOAT (casas decimais arredondando) ###

Felipe tem 35 anos de idade e 2 filhos.
Felipe tem 35 anos e 2 filhos.
O preço da gasolina hoje subiu e está em R$ 3.48